.DS_Store
.vscode
.idea/
TAGS
ckb-explorer.iml
.generators
.rakeTasks
# server
# Ignore bundler config.
.bundle
.env.*

# server config
config/settings.local.yml
config/settings/*.local.yml

# Ignore all logfiles and tempfiles.
log/*
tmp/*
!log/.keep
!tmp/.keep
*.orig
*.swp
*.swo
*.swn

# Ignore uploaded files in development
storage/*
!storage/.keep

.byebug_history

# Ignore master key for decrypting credentials and more.
config/master.key
.vscode/*

# Ignore coverage results
coverage/*
data
.env.test.local
.secrets
.env

