#%RAML 1.0
title: CKB-Explorer
version: v1
baseUri: https://api.explorer.nervos.org/api/v1
mediaType:  application/vnd.api+json
documentation:
 - title: Introduction
   content: |
     These are the APIs that serve the Explorer, we do not provide external services and cannot guarantee service availability.
     It is recommended to maintain the ckb node by yourself.

# =======================
# types segment starts
# =======================

types:
  indicator: {
    type: string,
    enum: ["total_supply", "circulating_supply"]
  }
  error: {
    type: object,
    properties: {
      "id": {
        type: "string",
        description: "A unique identifier for the specific instance of the error"
      },
      "code": {
        type: "string",
        description: " an application-specific error code"
      },
      "status": {
        type: "string",
        description: "the HTTP status code applicable to this problem"
      },
      "title": {
        type: "string",
        description: "a short, human-readable summary of the problem"
      },
      "detail": {
        type: "string",
        description: "A more in-depth, human-readable description of the error and how to resolve it"
      },
      "href": {
        type: "string",
        description: "A URL that the developer can use to learn more about the issue"
      }
    }

  }

  transaction_attributes: {
    type: object,
    properties: {
      "block_number": {
        type: "string"
      },
      "transaction_hash": {
        type: "string"
      },
      "block_timestamp": {
        type: "string"
      }
      "transaction_fee": {
        type: "string"
      },
      "is_cellbase": {
        type: "boolean"
      },
      "income": {
        type: "string"
      },
      "version": {
        type: "string"
      },
      "display_inputs": {
        type: "display_input[]"
      },
      "display_outputs": {
        type: "display_output[]"
      },
      "witnesses": {
        type: "string[]"
      },
      "cell_deps": {
        type: "cell_dep[]"
      },
      "header_deps": {
        type: "string[]"
      }
    }
  }

  transaction: {
    type: object,
    properties: {
      "id": {
        type: "string"
      },
      "type": {
        type: "string"
      },
      "attributes": {
        type: "transaction_attributes",
      }
    }
  }

  address_attributes: {
    type: object,
    properties: {
      "address_hash": {
        "type": string
      },
      "balance": {
        "type": integer
      },
      "transactions_count": {
        "type": integer
      },
      "cell_consumed": {
        "type": integer
      },
      "lock_hash": {
        "type": script
      },
      "dao_deposit": {
        "type": string
      },
      "interest": {
        "type": string
      },
      "pending_reward_blocks_count": {
        "type": integer
      },
      "lock_info": {
        "type": lock_info_attributes
      },
      "average_deposit_time": {
        "type": string
      },
      "udt_accounts": {
        "type": "udt_account[]"
      }
    }
  }

  udt_account: {
    type: object,
    properties: {
      "symbol": {
        type: "string"
      },
      "decimal": {
        type: "string"
      },
      "amount": {
        type: "string"
      },
      "type_hash": {
        type: "string"
      },
      udt_icon_file: {
        type: "string"
      }
    }
  }

  lock_info_attributes:
    type: object
    properties:
      status:
        type: string
        enum: [locked, unlocked]
      epoch_number:
        type: string
      epoch_index:
        type: string
      estimated_unlock_time:
        type: string

  address: {
    type: object,
    properties: {
      "id": {
        type: "string"
      },
      "type": {
        type: "string"
      },
      "attributes": {
        type: "address_attributes"
      }
    }
  }

  script_attributes: {
    type: object,
    properties: {
      "code_hash": {
        "type": "string"
      },
      "args": {
        "type": "string[]"
      }
    }
  }

  script: {
    type: object,
    properties: {
      "id": {
        type: "string"
      },
      "type": {
        type: "string"
        "enum": ["lock_script", "type_script"]
      },
      "attributes": {
        type: "script_attributes"
      }
    }
  }

  display_input: {
    type: object,
    require: true,
    properties: {
      "from_cellbase": {
        type: "boolean"
      },
      "id": {
        type: "string"
      },
      "address_hash": {
        type: "string"
      },
      "capacity": {
        type: integer
      },
      "target_block_number": {
        type: integer,
        required: false
      },
      "generated_tx_hash": {
        type: "string",
      },
      "cell_type": {
        type: "string"
      },
      "cell_index": {
        type: "string"
      },
      "compensation_started_block_number": {
        type: string,
        required: false
      },
      "compensation_ended_block_number": {
        type: string,
        required: false
      },
      "compensation_started_timestamp": {
        type: string,
        required: false
      },
      "compensation_ended_timestamp": {
        type: string,
        required: false
      },
      "locked_until_block_number": {
        type: string,
        required: false
      },
      "locked_until_block_timestamp": {
        type: string,
        required: false
      },
      "interest": {
        type: integer,
        required: false
      },
      "udt_info": {
        type: "udt_info"
        required: false
      }
    }
  }

  udt_info: {
    type: "object",
    properties: {
      "symbol": {
        type: "string"
      },
      "decimal": {
        type: "string"
      },
      "amount": {
        type: "string"
      },
      "type_hash": {
        type: "string"
      }
    }
  }


  display_output: {
    type: object,
    require: true,
    properties: {
      "id": {
        type: "string"
      },
      "address_hash": {
        type: "string"
      },
      "capacity": {
        type: integer
      },
      "target_block_number": {
        type: integer,
        required: false
      },
      "base_reward": {
        type: integer,
        required: false
      },
      "commit_reward": {
        type: integer,
        required: false
      },
      "proposal_reward": {
        type: integer,
        required: false
      },
      "secondary_reward": {
        type: integer,
        required: false
      },
      "consumed_by_tx_hash": {
         type: "string",
         required: false
      },
      "status": {
        type: "string",
        enum: ["live", "dead"]
      }，
      "cell_type": {
        type: "string"
      },
      "udt_info": {
        type: "udt_info"
        required: false
      }
    }
  }

  block_attributes: {
    type: object,
    properties: {
      "block_hash": {
          "type": "string",
          "required": true,
          "minLength": 66,
          "maxLength": 66,
      },
      "number": {
        type: "string",
        description: "block number"
      },
      "transactions_count": {
        "type": "string"
      },
      "proposals_count": {
        "type": "string"
      },
      "uncles_count": {
        "type": "string"
      },
      "uncle_block_hashes": {
        "type": "string[]"
      },
      "reward": {
        "type": "string"
      },
      "total_transaction_fee": {
        "type": "string"
      },
      "cell_consumed": {
        "type": "string"
      },
      "total_cell_capacity": {
        "type": "string"
      },
      "miner_hash": {
        "type": "string",
        "required": true,
        "minLength": 66,
        "maxLength": 66,
      },
      "timestamp": {
        "type": "string"
      },
      "difficulty": {
        "type": "string"
      },
      "version": {
        "type": "string"
      },
      "nonce": {
        "type": "string"
      },
      "proof": {
        "type": "string"
      },
      "reward_status": {
        "type": "string",
        "enum": ["pending", "issued"]
      },
      "received_tx_fee_status": {
        "type": "string",
        "enum": ["pending", "calculated"]
      },
      "received_tx_fee": {
        "type": "string"
      },
      "epoch": {
        "type": "string"
      },
      "length": {
        "type": "string"
      },
      "start_number": {
        "type": "string"
      },
      "block_index_in_epoch": {
        "type": "string"
      }
    }
  }

  out_point: {
    type: object,
    properties: {
      "index": {
        type: "integer"
      },
      "tx_hash": {
        type: "string"
      }
    }
  }

  cell_dep: {
    type: object,
    properties: {
      "dep_type": {
        type: "string",
        "enum": ["dep_group", "code"]
      },
      "out_point": {
        type: "out_point"
      }
    }
  }

  block: {
    type: object,
    properties: {
      "id": {
        type: "string"
      },
      "type": {
        type: "string"
      },
      "attributes": {
        "type": "block_attributes"
      }
    }
  }

  epoch_info_attributes: {
    type: object,
    properties: {
      "epoch_number": {
        type: "string"
      },
      "epoch_length": {
        type: "string"
      },
      "index": {
        type: "string"
      }
    }
  }

  index_statistic_attributes: {
    type: object,
    properties: {
      "tip_block_number": {
        type: "string"
      },
      "average_block_time": {
        type: "string"
      },
      "current_epoch_difficulty": {
        type: "string"
      },
      "hash_rate": {
        type: "string"
      },
      "epoch_info": {
        type: "epoch_info_attributes"
      },
      "estimated_epoch_time": {
        type: "string"
      },
      "transactions_last_24hrs": {
        type: "string"
      },
      "transactions_count_per_minute": {
        type: "string"
      }
    }
  }

  statistic_info_attributes: {
    type: object,
    properties: {
      "tip_block_number": {
        type: "string",
      },
      "average_block_time": {
        type: "string",
      },
      "current_epoch_difficulty": {
        type: "string",
      },
      "hash_rate": {
        type: "string",
      },
      "flush_cache_info": {
        type: "string[]"
      }
      "blockchain_info": {
        type: "object"
      },
      "address_balance_ranking": {
        type: "address_balance_ranking"
      }
      "maintenance_info": {
        type: "maintenance_info"
      }
    }
  }

  maintenance_info: {
    type: object,
    properties: {
      "stat_at": {
        type: "string"
      },
      "end_at": {
        type: "string"
      }
    }
  }

  address_balance_ranking: {
    type: object,
    properties: {
      "ranking": {
        type: "string"
      },
      "address": {
        type: "string"
      },
      "balance": {
        type: "string"
      }
    }
  }

  net_info_address: {
    type: object,
    properties: {
      "address": {
        type: "string"
      },
      "score": {
        type: "string"
      }
    }
  }

  net_info_attributes: {
    type: object,
    properties: {
      "addresses": {
        type: "net_info_address[]",
      },
      "is_outbound": {
        type: "string",
      },
      "node_id": {
        type: "integer",
      },
      "version": {
        type: "string",
      }
    }
  }

  daily_statistic_attributes: {
    type: object,
    properties: {
      "transactions_count": {
        type: "string",
      },
      "addresses_count": {
        type: "string",
      },
      "total_dao_deposit": {
        type: "string",
      },
      "created_at_unixtimestamp": {
        type: "string",
      },
      "live_cells_count": {
        "type: "string"
      },
      "dead_cells_count": {
        "type": "string"
      },
      "avg_hash_rate": {
        "type": "string"
      },
      "avg_difficulty": {
        "type": "string"
      },
      "uncle_rate": {
        "type": "string"
      },
      "total_depositors_count": {
        "type": "string"
      },
      "address_balance_distribution": {
        "type": "string"
      },
      "total_tx_fee": {
        "type": "string"
      },
      "occupied_capacity": {
        "type": "string"
      },
      "daily_dao_deposit": {
        "type": "string"
      },
      "daily_dao_depositors_count": {
        "type": "string"
      },
      "daily_dao_withdraw": {
        "type": "string"
      },
      "circulation_ratio": {
        "type": "string"
      },
      "circulating_supply": {
        "type": "string"
      },
      "burnt": {
        "type": "string"
      },
      "locked_capacity": {
        "type": "string"
      },
      "treasury_amount": {
        "type": "string"
      },
      "mining_reward": {
        "type": "string"
      },
      "deposit_compensation": {
        "type": "string"
      },
      "liquidity": {
        "type": "string"
      }
    }
  }

  distribution_data_attributes: {
    type: object,
    properties: {
      "address_balance_distribution": {
        type: "[][]",
      }
    }
  }

  monetary_data_attributes: {
    type: object,
    properties: {
      "nominal_apc": {
        type: "string[]",
      }
    }
  }

  block_statistic_attributes: {
      type: object,
      properties: {
        "difficulty": {
          type: "string",
        },
        "hash_rate": {
          type: "string",
        },
        "live_cell_count": {
          type: "string",
        },
        "dead_cell_count": {
          type: "string",
        },
        "block_number": {
          type: "string",
        }
      }
    }

  epoch_statistic_attributes: {
    type: object,
    properties: {
      "difficulty": {
        type: "string",
      },
      "uncle_rate": {
        type: "string",
      },
      "epoch_number": {
        type: "string",
      }
    }
  }

  dao_depositor_attributes: {
    type: "object",
    properties: {
      "address_hash": {
        type: "string"
      },
      "dao_deposit": {
        type: "string",
      }
    }
  }

  ckb_transaction_list_attributes: {
    type: "object",
    properties: {
      "transaction_hash": {
        type: "string"
      },
      "block_number": {
        type: "string"
      },
      "block_timestamp": {
        type: "string"
      },
      "capacity_involved": {
        type: "string"
      },
      "live_cell_changes": {
        type: "string"
      }
    }
  }

  udt: {
    type: "object",
    properties: {
      "symbol": {
        type: "string"
      },
      "full_name": {
        type: "string"
      },
      "total_amount": {
        type: "string"
      },
      "addresses_count": {
        type: "string"
      },
      "decimal": {
        type: "string"
      },
      "icon_file": {
        type: "string"
      },
      "description": {
        type: "string"
      },
      "created_at": {
        type: "string"
      },
      "published": {
        type: "boolean"
      }
    }
  }

  dao_contract_attributes: {
    type: "object",
    properties: {
      "total_deposit": {
        type: "string"
      },
      "deposit_changes": {
        type: "string"
      },
      "depositors_count": {
        type: "string"
      },
      "depositor_changes": {
        type: "string"
      },
      "unclaimed_compensation": {
        type: "string"
      },
      "unclaimed_compensation_changes": {
        type: "string"
      },
      "claimed_compensation": {
        type: "string"
      },
      "claimed_compensation_changes": {
        type: "string"
      },
      "average_deposit_time": {
        type: "string"
      },
      "mining_reward": {
        type: "string"
      },
      "deposit_compensation": {
        type: "string"
      },
      "treasury_amount": {
        type: "string"
      }
    }
  }

  index_statistic_info: {
    type: object,
    properties: {
      "id": {
        type: "string"
      },
      "type": {
        type: "string"
      },
      "attributes": {
        "type": "index_statistic_attributes"
      }
    }
  }

  pagination_meta: {
    type: object,
    properties: {
      "total": {
        type: "integer"
      }
    }
  }

  pagination_link: {
    type: object,
    properties: {
      "self": {
        type: "string"
      },
      "first": {
        type: "string"
      },
      "prev": {
        type: "string"
      },
      "next": {
        type: "string"
      },
      "last": {
        type: "string"
      },
    }
  }

  error_response: {
    type: object,
    properties: {
      "message": {
        "type: "string"
      },
      "errors": {
        "type": "error[]"
      }
    }
  }

  block_response: {
    type: object,
    properties: {
      "data": {
        "type": "block"
      }
    }
  }

  ckb_transaction_list_response: {
    type: object,
    properties: {
      "data": {
        "type": "ckb_transaction_list_attributes"
      }
    }
  }

  blocks_response: {
    type: object,
    properties: {
      "meta": {
        "type": "pagination_meta"
      },
      "data": {
        "type": "block[]",
      },
      "links": {
        "type": "pagination_link"
      }
    }
  }

  dao_contract_response: {
    type: object,
    properties: {
      "data": {
        type: dao_contract_attributes
      }
    }
  }

  transaction_response: {
    type: object,
    properties: {
      "data": {
        "type": transaction,
      }
    }
  }

  transactions_response: {
    type: object,
    properties: {
      "meta": {
        "type": "pagination_meta"
      },
      "data": {
        "type": "transaction[]"
      },
      "links": {
        "type": "pagination_link"
      }
    }
  }

  block_transactions_response: {
    type: object,
    properties: {
      "meta": {
        "type": "pagination_meta"
      },
      "data": {
        "type": "transaction[]"
      },
      "links": {
        "type": "pagination_link"
      }
    }
  }

  address_transactions_response: {
    type: object,
    properties: {
      "meta": {
        "type": "pagination_meta"
      },
      "data": {
        "type": "transaction[]"
      },
      "links": {
        "type": "pagination_link"
      }
    }
  }

  cell_script_response: {
    type: object,
    properties: {
      "data": {
        "type": "script"
      }
    }
  }

  cell_data_response: {
    type: object,
    properties: {
      "data": {
        "type": string
      }
    }
  }

  address_response: {
    type: object,
    properties: {
      "data": {
        "type": address
      }
    }
  }

  udt_response: {
    type: object,
    properties: {
      "data": {
        "type": udt
      }
    }
  }

  udts_response: {
    type: object,
    properties: {
      "data": {
        "type": "udt[]",
      }
    }
  }

  index_statistic_response: {
    type: object,
    properties: {
      "data": {
        "type": index_statistic_attributes
      }
    }
  }

  statistic_info_response: {
    type: object,
    properties: {
      "data": {
        "type": statistic_info_attributes
      }
    }
  }

  net_info_response: {
    type: object,
    properties: {
      "data": {
        "type": net_info_attributes
      }
    }
  }

  daily_statistic_response: {
    type: object,
    properties: {
      "data": {
        "type": daily_statistic_attributes
      }
    }
  }

  distribution_data_response: {
    type: object,
    properties: {
      "data": {
        "type": distribution_data_attributes
      }
    }
  }

  monetary_data_response: {
      type: object,
      properties: {
        "data": {
          "type": monetary_data_attributes
        }
      }
    }

  block_statistic_response: {
     type: object,
     properties: {
       "data": {
         "type": block_statistic_attributes
       }
     }
  }

  epoch_statistic_response: {
     type: object,
     properties: {
       "data": {
         "type": epoch_statistic_attributes
       }
     }
  }

  dao_depositor_response: {
    type: object,
    properties: {
      "data": {
        "type": dao_depositor_attributes
      }
    }
  }

  previous_output:
    type: object
    properties:
      index:
        type: string
        description: index of this previous output
        example: 0x0
      tx_hash:
        type: string
        description: hash of this transaction
        example: 0x0e842de2e2827c164c27bbeb41a244e9fb43c98078125a241af09c8a6da07146
  lock:
    type: object
    description: lock script
    properties:
      args:
        type: string
      code_hash:
        type: string
      hash_type:
        type: string
  input:
    type: object
    properties:
      previous_output:
        type: previous_output
      since:
        type: string
        description: "see: https://github.com/nervosnetwork/rfcs/blob/master/rfcs/0017-tx-valid-since/0017-tx-valid-since.md"
        example: '0x0'
  output:
    type: object
    properties:
      capaity:
        type: string
      lock:
        type: lock
      type:
        type: lock


  transactons_raw_response:
    type: object
    properties:
      hash:
        type: string
        description: transaction hash
      header_deps:
        type: "string[]"
        description: header deps
      cell_deps:
        type: "cell_dep[]"
        description: cell deps
      inputs:
        type: "input[]"
      outputs:
        type: "output[]"


  dao_events_response:
    type: object
    properties:
      data:
        type: object
        description: dao events
        properties:
          id:
            type: integer
            description: the address id
          address:
            type: string
            description: the address you want to query
          deposit_capacity:
            type: string
          average_deposit_time:
            type: string
          activities:
            type: "transaction_attributes[]"
            description: this is the dao events of this address, its an array of transaction_attributes
      meta:
        type: object
        properties:
          total:
            type: integer
            description: how many dao events in total
          page_size:
            type: integer
            description: current page you are viewing

# =======================
# API segment starts
# =======================

/blocks:
  get:
    description: Returns blocks in reverse chronological order.
    queryParameters:
      page_size:
        type: integer
        default: 10
      page:
        type: integer
        default: 1
    responses:
      200:
        body:
          application/vnd.api+json:
            type: blocks_response
            example: |
              {
                "meta": {
                  "total": 100
                },
                "data": [
                  {
                    "id": 10,
                    "type": "block",
                    "attributes": {
                      "block_hash": "0x97f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacd",
                      "number": 8897,
                      "transactions_count": 98,
                      "proposals_count": 150,
                      "uncles_count": 2,
                      "uncle_block_hashes": ["0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi", "0xm87982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadenj7"],
                      "reward": 40,
                      "total_transaction_fee": 10,
                      "cell_consumed": 100,
                      "total_cell_capacity": 1000,
                      "miner_hash": "0x9873h2dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683ead2dw1",
                      "timestamp": 1553068833785,
                      "difficulty": "0x100",
                      "version": 0,
                      "nonce": 503529102265201399,
                      "proof": "0x"
                    }
                  },
                  {
                    "id": 11,
                    "type": "block",
                    "attributes": {
                      "block_hash": "0xfj3w82dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacd",
                      "number": 8898,
                      "transactions_count": 60,
                      "proposals_count": 150,
                      "uncles_count": 2,
                      "uncle_block_hashes": ["0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi", "0xm87982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadenj7"],
                      "reward": 40,
                      "total_transaction_fee": 10,
                      "cell_consumed": 102,
                      "total_cell_capacity": 1000,
                      "miner_hash": "0x9382h2dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683ead2dw1",
                      "timestamp": 1553068833789,
                      "difficulty": "0x100",
                      "version": 0,
                      "nonce": 503529102265201399,
                      "proof": "0x
                    }
                  }
                ],
                "links": {
                  "self": "https://explorer.nervos.org/blocks?page=3&page_size=10",
                  "first": "https://explorer.nervos.org/blocks?page=1&page_size=10",
                  "prev": "https://explorer.nervos.org/blocks?page=2&page_size=10",
                  "next": "https://explorer.nervos.org/blocks?page=4&page_size=10",
                  "last": "https://explorer.nervos.org/blocks?page=13&page_size=10"
                }
              }
      404:
        body:
          application/vnd.api+json:
            type: error_response
            example: |
              {
                "message": "Record Not Found",
                "errors": [
                  {
                    "id": "ActiveRecord::RecordNotFound",
                    "code": "1141",
                    "status": "404",
                    "title": "Record not fund",
                    "detail": "No blocks at this time",
                    "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                  }
                ]
              }

  /{block_hash}:
    uriParameters:
      block_hash:
        description: The block hash
        required: true
        type: string
        minLength: 66
        maxLength: 66,
    get:
      description: Returns a block by block hash
      responses:
        200:
          body:
            application/vnd.api+json:
              type: block_response
              example: |
                {
                  "data":{
                    "id": 11,
                    "type": "block",
                    "attributes": {
                      "block_hash": "0x97f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacd",
                      "number": 8897,
                      "transactions_count": 98,
                      "proposals_count": 150,
                      "uncles_count": 2,
                      "uncle_block_hashes": ["0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi", "0xm87982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadenj7"],
                      "reward": 40,
                      "total_transaction_fee": 10,
                      "cell_consumed": 100,
                      "total_cell_capacity": 1000,
                      "miner_hash": "0x9873h2dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683ead2dw1",
                      "timestamp": 1553068833785,
                      "difficulty": "0x100",
                      "version": 0,
                      "nonce": 503529102265201399,
                      "proof": "0x,
                      "reward_status": "pending",
                      "received_tx_fee_status": "pending",
                      "received_tx_fee": 300000,
                      "block_index_in_epoch": "101"
                    }
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching block record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }
  /{height}:
    uriParameters:
      height:
        description: The block height
        required: true
        type: integer
        minimum: 0
    get:
      description: Returns a block by block height
      responses:
        200:
          body:
            application/vnd.api+json:
              type: block_response
              example: |
                {
                  "data":{
                    "id": 11,
                    "type": "block",
                    "attributes": {
                      "block_hash": "0x97f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacd",
                      "number": 8897,
                      "transactions_count": 98,
                      "proposals_count": 150,
                      "uncles_count": 2,
                      "uncle_block_hashes": ["0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi", "0xm87982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadenj7"],
                      "reward": 40,
                      "total_transaction_fee": 10,
                      "cell_consumed": 100,
                      "total_cell_capacity": 1000,
                      "miner_hash": "0x9873h2dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683ead2dw1",
                      "timestamp": 1553068833785,
                      "difficulty": "0x100",
                      "version": 0,
                      "nonce": 503529102265201399,
                      "proof": "0x,
                      "reward_status": "pending",
                      "received_tx_fee_status": "pending",
                      "received_tx_fee": 300000,
                      "block_index_in_epoch": "101"
                    }
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching block record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/transactions:
  get:
    description: Returns blocks in reverse chronological order.
    queryParameters:
      page_size:
        type: integer
        default: 10
      page:
        type: integer
        default: 1
    responses:
      200:
        body:
          application/vnd.api+json:
            type: ckb_transaction_list_response
            example: |
              {
                "data": [
                   {
                      "id": "519759",
                      "type": "ckb_transaction_list",
                      "attributes": {
                        "transaction_hash": "0x51c4008aecf7b32762f8de7b1e0db97b0b99af6dfbedacddca4723e4e3469735",
                        "block_number": "355801",
                        "block_timestamp": "1577284662673",
                        "capacity_involved": "",
                        "live_cell_changes": "0"
                      }
                   },
                   {
                     "id": "519760",
                     "type": "ckb_transaction_list",
                     "attributes": {
                       "transaction_hash": "0x93dcd049c02c94a4f8b83ed86e6dfdd662bb381585f6294e5cc316f301ed688d",
                       "block_number": "355801",
                       "block_timestamp": "1577284662673",
                       "capacity_involved": "",
                       "live_cell_changes": "0"
                     }
                   },
                    {
                      "id": "519757",
                      "type": "ckb_transaction_list",
                      "attributes": {
                        "transaction_hash": "0xfe642e494030e77c46753f7ac2d29c38d6780e38c1a3a7accb6b4adf415a511b",
                        "block_number": "355800",
                        "block_timestamp": "1577284656255",
                        "capacity_involved": "",
                        "live_cell_changes": "0"
                      }
                   },
                ]
                "meta": {
                  "total": 100,
                  "page_size": 15,
                },
                links: {
                  "self": "https://explorer.nervos.org/api/v1/transactions?page_size=15",
                  "first": "https://explorer.nervos.org/api/v1/transactions?page=1&page_size=10",
                  "prev": "https://explorer.nervos.org/api/v1/transactions?page=2&page_size=10",
                  "next": "https://explorer.nervos.org/api/v1/transactions?page=2&page_size=15",
                  "last": "https://explorer.nervos.org/api/v1/transactions?page=28909&page_size=15"
                }
              }

  /{tx_hash}:
    uriParameters:
      tx_hash:
        description: The transaction hash
        required: true
        type: string
        minLength: 66
        maxLength: 66
    get:
      description: Returns a transaction by transaction hash
      responses:
        200:
          body:
            application/vnd.api+json:
              type: transaction_response
              example: |
                {
                  "data": {
                    "id": 11,
                    "type": "transaction",
                    "attributes": {
                      "transaction_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                      "block_number": "770",
                      "block_timestamp": 1553068833785,
                      "transaction_fee": 666,
                      "version": 0,
                      "witnesses": [
                          "0x5500000010000000550000005500000041000000765eab3a413093258b1f37566616844b86d8f69e21926fefdca8cae424fd56f93b340f192725e37b251cf110bb3f138008c0376e216e9f369aa0b2c61d4ae33901",
                          "0x55000000100000005500000055000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                      ],
                      "cell_deps": [
                          {
                              "dep_type": "dep_group",
                              "out_point": {
                                  "index": 0,
                                  "tx_hash": "0xcb77d6dd01abde6dde8cd3fffaa9811399309ae47e18162096b7ae45e5e69f14"
                              }
                          },
                          {
                              "dep_type": "code",
                              "out_point": {
                                  "index": 2,
                                  "tx_hash": "0xb5724acb4f5f82afb717c3ec3fe025d3b6e45ff48f4ffbb6162c950399cbcabe"
                              }
                          }
                      ],
                      "header_deps": [
                        "0x32a1c7ea0f6c2091a1512eaf4dda12683d28bce1573011a211213163c588cf27"
                      ],
                      "is_cellbase": true,
                      "income": "0.0",
                      "display_inputs": [
                        {
                          "from_cellbase": true,
                          "input_id": 101,
                          "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                          "capacity": 100,
                          "target_block_number": 759，
                          "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "cell_type": "normal",
                          "cell_index": "0"
                        },
                        {
                          "from_cellbase": false,
                          "input_id": 102,
                          "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "capacity": 100,
                          "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321"，
                          "cell_type": "normal",
                          "cell_index": "1"
                        },
                        {
                          "from_cellbase": false,
                          "input_id": 103,
                          "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "capacity": 100,
                          "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321",
                          "compensation_started_block_number": "10",
                          "compensation_ended_block_number": "15",
                          "compensation_started_timestamp": "1579592269056"
                          "compensation_ended_timestamp": "1579592269056",
                          "locked_until_block_number": "608395",
                          "locked_until_block_timestamp": "1579665264926",
                          "interest": 100000,
                          "cell_type": "dao",
                          "cell_index": "0"
                        }
                      ],
                      "display_outputs": [
                        {
                          "output_id": 103,
                          "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                          "capacity": 100,
                          "base_reward": 125000000000,
                          "commit_reward": 0,
                          "proposal_reward": 0,
                          "secondary_reward": 476623447,
                          "consumed_by_tx_hash": null,
                          "status": "live",
                          "cell_type": "normal",
                          "cell_index": "0"
                        },
                        {
                          "output_id": 104,
                          "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "capacity": 100,
                          "consumed_by_tx_hash": null,
                          "status": "live",
                          "cell_type": "normal",
                          "cell_index": "0"
                        },
                        {
                          "output_id": 105,
                          "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "capacity": 100,
                          "consumed_by_tx_hash": null,
                          "status": "live",
                          "cell_type": "dao",
                          "cell_index": "0"
                        }
                      ]
                    }
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching transaction record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/address_transactions:
  /{address_hash}:
    uriParameters:
      address_hash:
        description: The address hash
        required: true
        type: string
        minLength: 66
        maxLength: 66
    get:
      description: Returns transactions related to an address
      queryParameters:
        page_size:
          type: integer
          default: 10
        page:
          type: integer
          default: 1
      responses:
        200:
          body:
            application/vnd.api+json:
              type: address_transactions_response
              example: |
                {
                  "meta": {
                    "total": 100
                  },
                  "data": [
                    {
                      "id": 11,
                      "type": "transaction",
                      "attributes": {
                        "transaction_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                        "block_number": "770",
                        "block_timestamp": 1553068833785,
                        "transaction_fee": 666,
                        "version": 0,
                        "is_cellbase": true,
                        "income": "0.0",
                        "witnesses": [
                            "0x5500000010000000550000005500000041000000765eab3a413093258b1f37566616844b86d8f69e21926fefdca8cae424fd56f93b340f192725e37b251cf110bb3f138008c0376e216e9f369aa0b2c61d4ae33901",
                            "0x55000000100000005500000055000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                        ],
                        "cell_deps": [
                            {
                                "dep_type": "dep_group",
                                "out_point": {
                                    "index": 0,
                                    "tx_hash": "0xcb77d6dd01abde6dde8cd3fffaa9811399309ae47e18162096b7ae45e5e69f14"
                                }
                            },
                            {
                                "dep_type": "code",
                                "out_point": {
                                    "index": 2,
                                    "tx_hash": "0xb5724acb4f5f82afb717c3ec3fe025d3b6e45ff48f4ffbb6162c950399cbcabe"
                                }
                            }
                        ],
                        "header_deps": [
                          "0x32a1c7ea0f6c2091a1512eaf4dda12683d28bce1573011a211213163c588cf27"
                        ],
                        "display_inputs": [
                          {
                            "from_cellbase": true,
                            "input_id": 101,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "target_block_number": 759,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "cell_type": "normal",
                            "cell_index": "0"
                          },
                          {
                            "from_cellbase": false,
                            "input_id": 102,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321",
                            "cell_type": "normal",
                            "cell_index": "1"

                          }
                        ],
                        "display_outputs": [
                          {
                            "output_id": 103,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "base_reward": 125000000000,
                            "commit_reward": 0,
                            "proposal_reward": 0,
                            "secondary_reward": 476623447,
                            "consumed_by_tx_hash": null,
                            "status": "live",
                            "cell_type": "normal"
                          },
                          {
                            "output_id": 104,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "consumed_by_tx_hash": null,
                            "status": "live",
                            "cell_type": "normal"
                          }
                        ]
                      }
                    },
                    {
                      "id": 11,
                      "type": "transaction",
                      "attributes": {
                        "transaction_hash": "0xmk8721e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                        "block_number": "770",
                        "block_timestamp": 1553068833785,
                        "transaction_fee": 666,
                        "version": 0,
                        "is_cellbase": true,
                        "income": "0.0",
                        "witnesses": [
                            "0x5500000010000000550000005500000041000000765eab3a413093258b1f37566616844b86d8f69e21926fefdca8cae424fd56f93b340f192725e37b251cf110bb3f138008c0376e216e9f369aa0b2c61d4ae33901",
                            "0x55000000100000005500000055000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                        ],
                        "cell_deps": [
                            {
                                "dep_type": "dep_group",
                                "out_point": {
                                    "index": 0,
                                    "tx_hash": "0xcb77d6dd01abde6dde8cd3fffaa9811399309ae47e18162096b7ae45e5e69f14"
                                }
                            },
                            {
                                "dep_type": "code",
                                "out_point": {
                                    "index": 2,
                                    "tx_hash": "0xb5724acb4f5f82afb717c3ec3fe025d3b6e45ff48f4ffbb6162c950399cbcabe"
                                }
                            }
                        ],
                        "header_deps": [
                          "0x32a1c7ea0f6c2091a1512eaf4dda12683d28bce1573011a211213163c588cf27"
                        ],
                        "display_inputs": [
                          {
                            "from_cellbase": true,
                            "input_id": 101,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "target_block_number": 759,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "cell_type": "normal",
                            "cell_index": "0"
                          },
                          {
                            "from_cellbase": false,
                            "input_id": 102,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321",
                            "cell_type": "normal",
                            "cell_index": "0"
                          }
                        ],
                        "display_outputs": [
                          {
                            "output_id": 103,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "base_reward": 125000000000,
                            "commit_reward": 0,
                            "proposal_reward": 0,
                            "secondary_reward": 476623447,
                            "consumed_by_tx_hash": null,
                            "status": "live",
                            "cell_type": "normal"
                          },
                          {
                            "output_id": 104,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "consumed_by_tx_hash": null,
                            "status": "live",
                            "cell_type": "normal"
                          }
                        ]
                      }
                    }
                  ],
                  "links": {
                    "self": "https://explorer.nervos.org/address_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=3&page_size=10",
                    "first": "https://explorer.nervos.org/address_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=1&page_size=10",
                    "prev": "https://explorer.nervos.org/address_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=2&page_size=10",
                    "next": "https://explorer.nervos.org/address_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=4&page_size=10",
                    "last": "https://explorer.nervos.org/address_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=13&page_size=10"
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching transactions record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/block_transactions:
  /{block_hash}:
    uriParameters:
      block_hash:
        description: The block hash
        required: true
        type: string
        minLength: 66
        maxLength: 66
    get:
      description: Returns transactions in the block
      queryParameters:
        page_size:
          type: integer
          default: 10
        page:
          type: integer
          default: 1
      responses:
        200:
          body:
            application/vnd.api+json:
              type: block_transactions_response
              example: |
                {
                  "meta": {
                    "total": 100,
                  },
                  "data": [
                    {
                      "id": 11,
                      "type": "transaction",
                      "attributes": {
                        "transaction_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                        "block_number": "770",
                        "block_timestamp": 1553068833785,
                        "transaction_fee": 666,
                        "version": 0,
                        "witnesses": [
                            "0x5500000010000000550000005500000041000000765eab3a413093258b1f37566616844b86d8f69e21926fefdca8cae424fd56f93b340f192725e37b251cf110bb3f138008c0376e216e9f369aa0b2c61d4ae33901",
                            "0x55000000100000005500000055000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                        ],
                        "cell_deps": [
                            {
                                "dep_type": "dep_group",
                                "out_point": {
                                    "index": 0,
                                    "tx_hash": "0xcb77d6dd01abde6dde8cd3fffaa9811399309ae47e18162096b7ae45e5e69f14"
                                }
                            },
                            {
                                "dep_type": "code",
                                "out_point": {
                                    "index": 2,
                                    "tx_hash": "0xb5724acb4f5f82afb717c3ec3fe025d3b6e45ff48f4ffbb6162c950399cbcabe"
                                }
                            }
                        ],
                        "header_deps": [
                          "0x32a1c7ea0f6c2091a1512eaf4dda12683d28bce1573011a211213163c588cf27"
                        ],
                        "display_inputs": [
                          {
                            "from_cellbase": true,
                            "input_id": 101,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "target_block_number": 759,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "cell_type": "normal",
                            "cell_index": "0"
                          },
                          {
                            "from_cellbase": false,
                            "input_id": 102,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321",
                            "cell_type": "normal",
                            "cell_index": "0"
                          }
                        ],
                        "display_outputs": [
                          {
                            "output_id": 103,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "base_reward": 125000000000,
                            "commit_reward": 0,
                            "proposal_reward": 0,
                            "secondary_reward": 476623447,
                            "consumed_by_tx_hash": null,
                            "status": "live",
                            "cell_type": "normal"
                          },
                          {
                            "output_id": 104,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "consumed_by_tx_hash": null,
                            "status": "live",
                            "cell_type": "normal"
                          }
                        ]
                      }
                    },
                    {
                      "id": 11,
                      "type": "transaction",
                      "attributes": {
                        "transaction_hash": "0xmk8721e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                        "block_number": "770",
                        "block_timestamp": 1553068833785,
                        "transaction_fee": 666,
                        "version": 0,
                        "witnesses": [
                            "0x5500000010000000550000005500000041000000765eab3a413093258b1f37566616844b86d8f69e21926fefdca8cae424fd56f93b340f192725e37b251cf110bb3f138008c0376e216e9f369aa0b2c61d4ae33901",
                            "0x55000000100000005500000055000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                        ],
                        "cell_deps": [
                            {
                                "dep_type": "dep_group",
                                "out_point": {
                                    "index": 0,
                                    "tx_hash": "0xcb77d6dd01abde6dde8cd3fffaa9811399309ae47e18162096b7ae45e5e69f14"
                                }
                            },
                            {
                                "dep_type": "code",
                                "out_point": {
                                    "index": 2,
                                    "tx_hash": "0xb5724acb4f5f82afb717c3ec3fe025d3b6e45ff48f4ffbb6162c950399cbcabe"
                                }
                            }
                        ],
                        "header_deps": [
                          "0x32a1c7ea0f6c2091a1512eaf4dda12683d28bce1573011a211213163c588cf27"
                        ],
                        "display_inputs": [
                          {
                            "from_cellbase": true,
                            "input_id": 101,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "target_block_number": 759,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "cell_type": "normal",
                            "cell_index": "0"
                          },
                          {
                            "from_cellbase": true,
                            "input_id": 102,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321",
                            "cell_type": "normal",
                            "cell_index": "0"
                          }
                        ],
                        "display_outputs": [
                          {
                            "output_id": 103,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "base_reward": 125000000000,
                            "commit_reward": 0,
                            "proposal_reward": 0,
                            "secondary_reward": 476623447,
                            "consumed_by_tx_hash": "0x2bbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "status": "dead",
                            "cell_type": "normal"
                          },
                          {
                            "output_id": 104,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "consumed_by_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "status": "dead",
                            "cell_type": "normal"
                          }
                        ]
                      }
                    }
                  ],
                  "links": {
                    "self": "https://explorer.nervos.org/block_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=3&page_size=10",
                    "first": "https://explorer.nervos.org/block_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=1&page_size=10",
                    "prev": "https://explorer.nervos.org/block_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=2&page_size=10",
                    "next": "https://explorer.nervos.org/block_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=4&page_size=10",
                    "last": "https://explorer.nervos.org/block_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=13&page_size=10"
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching transactions record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }


/cell_input_lock_scripts:
  /{cell_input_id}:
    get:
      description: Returns cell lock script by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_script_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "lock_script",
                      "attributes": {
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001",
                        "args": [
                          "0x99f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacf"
                        ]
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/cell_input_type_scripts:
  /{cell_input_id}:
    get:
      description: Returns cell type script by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_script_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "type_script",
                      "attributes": {
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001",
                        "args": [
                          "0x99f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacf"
                        ]
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/cell_input_data:
  /{cell_input_id}:
    get:
      description: Returns cell data by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_data_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "data",
                      "attributes": {
                        "data": "0x0"
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/cell_output_lock_scripts:
  /{cell_output_id}:
    get:
      description: Returns cell lock script by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_script_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "lock_script",
                      "attributes": {
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001",
                        "args": [
                          "0x99f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacf"
                        ]
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/cell_output_type_scripts:
  /{cell_output_id}:
    get:
      description: Returns cell type script by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_script_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "type_script",
                      "attributes": {
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001",
                        "args": [
                          "0x99f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacf"
                        ]
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/cell_output_data:
  /{cell_output_id}:
    get:
      description: Returns cell data by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_data_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "data",
                      "attributes": {
                        "data": "0x0"
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/addresses:
  /{address_hash}:
    uriParameters:
      address_hash:
        description: The address hash
        required: true
        type: string
        minLength: 66
        maxLength: 66,
    get:
      description: Returns address info
      responses:
        200:
          body:
            application/vnd.api+json:
              type: address_response
              example: |
                {
                  "data": {
                    "id": "1",
                    "type": "address",
                    "attributes": {
                      "address_hash": "0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi",
                      "balance": 1000,
                      "transactions_count": 100,
                      "cell_consumed": 10,
                      "lock_script": {
                        "args": [],
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001"
                      },
                      "dao_deposit": "10000",
                      "interest": "100",
                      "pending_reward_blocks_count": 3,
                      "lock_info": {
                        "status": "locked",
                        "epoch_number": "1000",
                        "epoch_index": "789",
                        "estimated_unlock_time": "1588259390000"
                      },
                      "average_deposit_time": "35.780193591686053852850446361429702611876162589037114569656468227898621305950821369",
                      "udt_accounts": [
                        {
                          "symbol": "kfc",
                          "decimal": "6",
                          "amount": "100000000000000000",
                          "type_hash": "0xedb17f324da6e289dd33f949fd2664417864d79b33ddf739a5214fc3494fd67e",
                          "udt_icon_file": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAcCAYAAAAAwr0iAAABYWlDQ1BrQ0dDb2xvclNwYWNlRGlzcGxheVAzAAAokWNgYFJJLCjIYWFgYMjNKykKcndSiIiMUmB/yMAOhLwMYgwKicnFBY4BAT5AJQwwGhV8u8bACKIv64LMOiU1tUm1XsDXYqbw1YuvRJsw1aMArpTU4mQg/QeIU5MLikoYGBhTgGzl8pICELsDyBYpAjoKyJ4DYqdD2BtA7CQI+whYTUiQM5B9A8hWSM5IBJrB+API1klCEk9HYkPtBQFul8zigpzESoUAYwKuJQOUpFaUgGjn/ILKosz0jBIFR2AopSp45iXr6SgYGRiaMzCAwhyi+nMgOCwZxc4gxJrvMzDY7v////9uhJjXfgaGjUCdXDsRYhoWDAyC3AwMJ3YWJBYlgoWYgZgpLY2B4dNyBgbeSAYG4QtAPdHFacZGYHlGHicGBtZ7//9/VmNgYJ/MwPB3wv//vxf9//93MVDzHQaGA3kAFSFl7jXH0fsAAAAJcEhZcwAACxMAAAsTAQCanBgAAAFZaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJYTVAgQ29yZSA1LjQuMCI+CiAgIDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+CiAgICAgIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiCiAgICAgICAgICAgIHhtbG5zOnRpZmY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vdGlmZi8xLjAvIj4KICAgICAgICAgPHRpZmY6T3JpZW50YXRpb24+MTwvdGlmZjpPcmllbnRhdGlvbj4KICAgICAgPC9yZGY6RGVzY3JpcHRpb24+CiAgIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+CkzCJ1kAAAbXSURBVEgNlVZrbFRFFJ577+7ddpelL2BpIcijL6DVqA0pITFUSTTGBBRLxF/EHxCjCGj8abIxRhKDgEYJaJQfhoAFFDDEBI0lotJQIg9dbWkhAm1pYksf++rex4zfmbv3dndhSZzNPHZmzjnffOecucOEEAorUqJCqEWWHjgNnf9PDgI1qEtR66lmMpnl6ANkJdoZ9RWzhj16d3d3Q09PT8P169fre3t7GzFeJOWiUQJR9HB5OqHoECqVKVSDBkd6fuhmr7CwVFYAAssazaNvHBkZMWOxmA3DJtVr164J1DdovbOzsyh4WvcKFB1GFZxzi3oU69A/P4r1ne9d/aLnpASx+eIBvyuAdQ8Axnx0dFTEYn8KABBgQQwODnogsO5DLcqE6ytByhVF4ehorBrJqUwwFGy+PHrzt61dH8/8rGWLeT93CPBQWVnJIpG53LZt2BI8kYjzUCj0ETEBnRb0ScDo7ykuALlASKHQRatnEmnDHww0mSY/TyCibVEr6tAqATtCjp+rqqqUSCTCgEKlxXjcA7GNQGTd4er2gOQB8GYpeKAFgrqZnDL0UGCZZfOu7Z17yqNtbdb3/f2eO3JkGIGomjNbCFuokHVB7O3r69veBjmA0Ard4QKQyEiIfrKgAxuEQ88AhL80sHTKr5x/9dy+imfr6jKuYZKhAsWyN0uYciHVJ/yKJnUTE8FgcI8L4uzZs+SOrBH4Wkrdr3H0yRXs1hEThl4aaGRKpuv937+cTQtJI0lM5OyEZvw7HL+kdCcIhK8QxI5CJoqniYdRYqBGN9LEREn9UDrexaKsOaSHxmFPLdwaUUvZyfgVRLQQK0J1qiksEUdgzgzP3N3f36/W1tZ+CMaICdtlwDuFJN2zOT2gDSpTdAsg9FDp4pfadp6/Pj5YC+OeO9zdNkip0krZCYC4kOyDJU2xLZuNjY3xQCCwC/fGW3Cd3dHR4fgJgvIQrh+lIg+SEwswziatDOO4/YxE2iorCT78ee/pYwkjLbfbgntEUDhgH5utBtnRyUtKzBgQsyqr1PLycqZpmr1w4cJdd+/e3bxhw4Z7GXBPQZBIIwUlKdQUlW1a9CTzKRpLcdMXMFV7yJyo3PvH0UDcSDGfmp/qEj8U+HCzjPum2Jy5EVZTU6NWV1dTULKKioo2suW6gGxR2kmDNM4NLQ3zY1aKPR5pZG83tbMkN1maGxpo5rH4INt9pYNNGkkpBiagRw5lQ0B8WTPESk4aSgEXAN2AMpWybpAHkI1UAyV0ctD9UFk1e7f5ZZYWNktahjo3UCauJYfZB5ePsCnbYKW+ADM5QGTlpN7saXLnMC8pcwHotBEMCC+vkU8a0Z8Vpl5Vne31lQtYtHkjMxhncQv06jN4L0B8cuU4G07dZWFNZxSI02XatKvfXZMaE4nEAE0gSu2x8TERn4gzzVJYGmoo+Kh4FxTGFrfZkor57J3mjZZP05QMsqlan2nHoGZ/72kWUH0ecCmc07iw8OGTsxJAOBx+E6lxKp1OlwwNDZkDg7eVFn0xWxVcJEbsFPODC5cJkkJASj1Lyucln4k8sjVuZQwBHwVV3baEJQF6gKcPLw26f9VsXKhR5+Egmpqa1iaTyVOzq2bpqqYZuMWU58pa2KMl88UoT0sQUkNOwwUPr1uy+qur5vgaYhxfAA1OtAtpdo3miHrhTwAQnM73vb6+fu34xMRJ5KtuM9tADGRBzBP/8pS8ZnOVqIpqxY149dU1O8/5FfVpCmDVyUf6BDvF5dz9X9BLFwAxfchlVDY0NKzDB+RERXkFQCDXsiBaSxYISz4X8jJUCethg3TuaX3tDBA+xW3OVA1BgFBxbT0IgxPW2Ekg6Gokobq6uucnJye/9UAoKph4jAVsn9RVQKn8e7DzYMn+VTt+QtK3CfiGQGDBystH6HbB5AUhGaVCV6MLAu54ASC+IRCW4Iau+pWx4RGWSqW8VHWknHbT6k1Ge0dU379yx1lV97VxLmzFpxFiMOE9cjB0ILgp7THgKisAsR4gjlcgJrBu2NxWbt26paSSKbk9e2m5ouzohqjRHovqn654/WecfzVHvmoAgYww5SZQUhig9wCgjQUgXgSIYxSYEKYXs3Xr9k0LTFC0k59dVqWNo8sBAkzsa932S1loxhPcsi3kLb0b6KtpOYzIrbZsH9S47qA9eNF8PTo6IgYGBmS9c+eOyD5C62gdwPIOQyBonn3XvvJIzxl67heWI7RcEE80lV8IBDECaeXGjRsbYVSH/+gFrFCPx8UJMBGndZQ8Ng5cvOjf0tJiXh3+u3lZpLEVET6V1V6C/i/s/zXfWpF/pLzIkpx+0HqHcDLrfvIk9x9SFLLdxCqaEAAAAABJRU5ErkJggg=="
                        }
                      ]
                    }
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching address record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/statistics:
  get:
    description: Return statistic info
    responses:
      200:
        body:
          application/vnd.api+json:
            type: index_statistic_response
            example: |
              {
                "data": {
                "id": "1559555643",
                "type": "index_statistic",
                "attributes": {
                    "tip_block_number": "29795",
                    "average_block_time": 20000,
                    "current_epoch_difficulty": 10024,
                    "hash_rate": "1.562224830086230946",
                    "epoch_info": {
                      "epoch_number": "10",
                      "epoch_length": "1000",
                      "index": "100"
                    },
                    "estimated_epoch_time": "24988300",
                    "transactions_last_24hrs": "100",
                    "transactions_count_per_minute": "9.77"
                }
              }
      404:
        body:
          application/vnd.api+json:
            type: error_response
            example: |
              {
                "message": "Record Not Found",
                "errors": [
                  {
                    "id": "ActiveRecord::RecordNotFound",
                    "code": "1141",
                    "status": "404",
                    "title": "Record not fund",
                    "detail": "No matching cell record were found",
                    "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                  }
                ]
              }

  /{info_name}:
    uriParameters:
      info_name:
        description: The statistic info name
        required: true
        type: string
    get:
      description: Returns the specific statistic info
      responses:
        200:
          body:
            application/vnd.api+json:
              type: statistic_info_response
              examples:
                tip_block_number: |
                  {
                    "data": {
                      "id": "1",
                      "type": "statistic_info",
                      "attributes": {
                        "tip_block_number": 100
                      }
                    }
                  }
                average_block_time: |
                  {
                    "data": {
                      "id": "1",
                      "type": "statistic_info",
                      "attributes": {
                        "average_block_time": 1000
                      }
                    }
                  }
                current_epoch_difficulty: |
                  {
                    "data": {
                      "id": "1",
                      "type": "statistic_info",
                      "attributes": {
                        "current_epoch_difficulty": 100000
                      }
                    }
                  }
                hash_rate: |
                  {
                    "data": {
                      "id": "1",
                      "type": "statistic_info",
                      "attributes": {
                        "hash_rate": 1000000
                      }
                    }
                  }
                blockchain_info: |
                  {
                    "data": {
                        "id": "1562726179",
                        "type": "statistic",
                        "attributes": {
                            "blockchain_info": {
                                "is_initial_block_download": false,
                                "epoch": "15",
                                "difficulty": "0x24a480",
                                "median_time": "1562713694364",
                                "chain": "ckb_testnet",
                                "alerts": [
                                  {
                                    "id": "42",
                                    "message": "An example alert message!",
                                    "notice_until": "2524579200000",
                                    "priority": "1"
                                  },
                                  {
                                    "id": "42",
                                    "message": "An example alert message!",
                                    "notice_until": "2524579200000",
                                    "priority": "1"
                                  }
                                ]
                             }
                         }
                     }
                  }
                flush_cache_info: |
                  {
                    "data": {
                      "id": "1594109792",
                      "type": "statistic",
                      "attributes": {
                        "flush_cache_info": [
                          "liquidity",
                          "deposit_compensation"
                        ]
                      }
                    }
                  }
                address_balance_ranking: |
                  {
                    "data": {
                      "id": "1562726172",
                      "type": "statistic",
                      "attributes": {
                        "address_balance_ranking": [
                          {"ranking":"1", "address":"ckt1qyqtu3g0lwdwxu7r2wkt7q6le7unz0dlq6uq0822nh", "balance":"10000"},
                          {"ranking":"2", "address":"ckt1qyqgn24g6mg8dznvrgkqp37weu8at5kzznmsded3ek", "balance":"9900"},
                          {"ranking":"3", "address":"ckt1qyq2fjdqgm5mgtww3xl7qx3f8ru0z6lx904qdq60sd", "balance":"9800"},
                          {"ranking":"4", "address":"ckt1qyqqy87f5napydhwmgatgf9yfnrc6k630jtq3r4zk9", "balance":"9700"},
                          {"ranking":"5", "address":"ckt1qyqt3mdndszp5nucf4yeesjewuwcgxh9avpqtj4hdl", "balance":"9600"},
                          {"ranking":"6", "address":"ckt1qyqvq0gckkjvcm8myxz6pw3ckc33ees5m7hsg7teeh", "balance":"9500"},
                          {"ranking":"7", "address":"ckt1qyqy2try39mq89eejlct69yxmjn8r86sny3qlnw8cf", "balance":"9400"},
                          {"ranking":"8", "address":"ckt1qyqy9vt53ce3vxgcltp9dnqgcaj20l7wqf8q5r5mhz", "balance":"9300"},
                          {"ranking":"9", "address":"ckt1qyqtqjmam63p593n5rp909lm6ny7qqm3jsgqzsj3qf", "balance":"9200"},
                          {"ranking":"10", "address":"ckt1qyq82n2wa7rmjvaqf7567s83m7f6u0dtef5q39xfct", "balance":"9100"},
                          {"ranking":"11", "address":"ckt1qyqrd83raa8kw44h6tsv6rmhzlp7h35pqjlsj4xk0e", "balance":"9000"},
                          {"ranking":"12", "address":"ckt1qyqyvx74nafe8zpu0xncx3gvhfxjcmj8tcyqq4p6dz", "balance":"8900"},
                          {"ranking":"13", "address":"ckt1qyqzzewv9xxf7nrdd9vx3x589r9c4k60gymqw46fff", "balance":"8800"},
                          {"ranking":"14", "address":"ckt1qyq9s3s4ur455ms4mzrautgmvrl7efc5vxgqhq2hw6", "balance":"8700"},
                          {"ranking":"15", "address":"ckt1qyqyt96g7q92lkce5u4xu9m32edp23gpk4vqrl9frn", "balance":"8600"},
                          {"ranking":"16", "address":"ckt1qyqpsxw9qzx29ygvyryxjkp3g3nwl9cj4yzshlc696", "balance":"8500"},
                          {"ranking":"17", "address":"ckt1qyqq89scfehzaj267phstxde2ac2rkqewp8s2d7lse", "balance":"8400"},
                          {"ranking":"18", "address":"ckt1qyqdg524tgt02rppelwtu5acuect283d76tqrn4lw6", "balance":"8300"},
                          {"ranking":"19", "address":"ckt1qyqxndcp7yzazr09m9trg8kn62txtukr7emslyc8up", "balance":"8200"},
                          {"ranking":"20", "address":"ckt1qyqx0fgahwenhucre0hwcr4kja0cv226n24qeqsakc", "balance":"8100"},
                          {"ranking":"21", "address":"ckt1qyqyzklzf92cqznyv2p8ngrnfl5xsa8jrfjszudfwp", "balance":"8000"},
                          {"ranking":"22", "address":"ckt1qyqr8cx9n039srvheyhxknsxwjd5ypc9wu9qy7n3lq", "balance":"7900"},
                          {"ranking":"23", "address":"ckt1qyq28wfnn5jl4cps63s2399czzum9n6a88vqn2j4rt", "balance":"7800"},
                          {"ranking":"24", "address":"ckt1qyqfgd03hnjwt5zf7mtxq083lsq403nuzvjq5vrxfc", "balance":"7700"},
                          {"ranking":"25", "address":"ckt1qyqvxuazfa5hsm6cnqrum9jyvdh2mag94jnqzn6tus", "balance":"7600"},
                          {"ranking":"26", "address":"ckt1qyqz5qpv5tv0aec3knkpz48pc4f5hhy7xy6qlqc4kr", "balance":"7500"},
                          {"ranking":"27", "address":"ckt1qyq085uc3avusuusacy83w7xeref3zynaewq5wxgna", "balance":"7400"},
                          {"ranking":"28", "address":"ckt1qyqz049unqpugkmdqcg7p04ldr5p9qsrzzzqkwxvsk", "balance":"7300"},
                          {"ranking":"29", "address":"ckt1qyq825s22tjhnm733umyerlv2rlu6nj9705qgj7wsu", "balance":"7200"},
                          {"ranking":"30", "address":"ckt1qyqpqvrkkuszupj25mqzgwguspsu9dkzstgsalnjcv", "balance":"7100"},
                          {"ranking":"31", "address":"ckt1qyqdzy8ham0e95wa33njce29323mkyre3wmspmy5mh", "balance":"7000"},
                          {"ranking":"32", "address":"ckt1qyqgndvc5sj5v0r52yamnterhuqm0xxzwnhq4n040y", "balance":"6900"},
                          {"ranking":"33", "address":"ckt1qyqgpw80twlv66vq2jyydnwh5waymsjg7tmq3d3zj9", "balance":"6800"},
                          {"ranking":"34", "address":"ckt1qyqr2xqlnev76vnqmlzjzru44kuh6wsra4hqq0lm54", "balance":"6700"},
                          {"ranking":"35", "address":"ckt1qyqdcunrwkezmnjkq9u3nvmsw6qa4th4g5ushkd7ja", "balance":"6600"},
                          {"ranking":"36", "address":"ckt1qyqdgerqtjadpk73l8maxk8d8wedvfrf0asqmlenfy", "balance":"6500"},
                          {"ranking":"37", "address":"ckt1qyqp9vynswume28t8zxqen9wzlv72tytlwtsayrtls", "balance":"6400"},
                          {"ranking":"38", "address":"ckt1qyq8cxq2vlukheglcsla4fkqv992ftd354asx73qy8", "balance":"6300"},
                          {"ranking":"39", "address":"ckt1qyqt4rtyqvddpdpsdgf0hsqg533gvcqg5unsj2sy33", "balance":"6200"},
                          {"ranking":"40", "address":"ckt1qyqwwtlty2nfs2ez03l9uzywjmu74evs2ajsezq37t", "balance":"6100"},
                          {"ranking":"41", "address":"ckt1qyqx9r7ndpzcvscnpmdh9kyvfdr968zjzxkqpul8qz", "balance":"6000"},
                          {"ranking":"42", "address":"ckt1qyqydrmtymt5dr2s3yq7xc7t2n7n6vyrhzlsmk76yl", "balance":"5900"},
                          {"ranking":"43", "address":"ckt1qyq0gedvz22l3fdcdjd8ahyd7vpk9luwh8wsgv68my", "balance":"5800"},
                          {"ranking":"44", "address":"ckt1qyqr0datf8usfumva0v03r45uzqs26hph3xscmuv2n", "balance":"5700"},
                          {"ranking":"45", "address":"ckt1qyq2zhqklk4p5k0vs9vmqw4uvnt0mvqvzlpqhts6nm", "balance":"5600"},
                          {"ranking":"46", "address":"ckt1qyqgtxed4kyufll22ldzaafveh889kh5nads9rf82e", "balance":"5500"},
                          {"ranking":"47", "address":"ckt1qyq8x0k8jlzdea5cv950q8mntkd9hxkt848q0a6wf7", "balance":"5400"},
                          {"ranking":"48", "address":"ckt1qyq9xd7whm8r4es8fmc5e9aa3fuy49lv86qs3cm5es", "balance":"5300"},
                          {"ranking":"49", "address":"ckt1qyqtga6vsvkzf95z4hpjzmm74x9pxtcqk62quldk58", "balance":"5200"},
                          {"ranking":"50", "address":"ckt1qyqq7wjkvst2r7r24w67227xqy3d9ffkng7su2vw3j", "balance":"5100"}
                        ]
                      }
                    }
                  }
                maintenance_info: |
                  {
                    "data": {
                        "id": "1594105429",
                        "type": "statistic",
                        "attributes": {
                           "maintenance_info": {
                             "start_at": "1591632000",
                             "end_at": "1591639200"
                           }
                         }
                     }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching address record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/nets:
  /{info_name}:
    uriParameters:
      info_name:
        description: The statistic info name
        required: true
        type: string
    get:
      description: Returns the net info
      responses:
        200:
          body:
            application/vnd.api+json:
              type: net_info_response
              examples:
                local_node_info: |
                  {
                    "data": {
                      "id": "1",
                      "type": "net_info",
                      "attributes": {
                        "local_node_info": {
                          "addresses": [
                            {
                              "address": "/ip4/192.168.0.2/tcp/8112/p2p/QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS",
                              "score": "255"
                            },
                            {
                              "address": "/ip4/0.0.0.0/tcp/8112/p2p/QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS",
                              "score": "1"
                            }
                          ],
                          "is_outbound": null,
                          "node_id": "QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS",
                          "version": "0.16.0 (rylai-v5 2178d78 2019-07-13)"
                        }
                      }
                    }
                  }
                addresses: |
                  {
                    "data": {
                      "id": "1",
                      "type": "net_info",
                      "attributes":
                        "addresses": [
                          {
                            "address": "/ip4/192.168.0.2/tcp/8112/p2p/QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS",
                            "score": "255"
                          },
                          {
                            "address": "/ip4/0.0.0.0/tcp/8112/p2p/QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS",
                            "score": "1"
                          }
                        ]
                    }
                  }
                is_outbound: |
                  {
                    "data": {
                      "id": "1",
                      "type": "net_info",
                      "attributes": {
                        "is_outbound": null
                      }
                    }
                  }
                node_id: |
                  {
                    "data": {
                      "id": "1",
                      "type": "net_info",
                      "attributes": {
                        "node_id": "QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS"
                      }
                    }
                  }
                version: |
                  {
                    "data": {
                      "id": "1",
                      "type": "net_info",
                      "attributes": {
                        "version": "0.16.0 (rylai-v5 2178d78 2019-07-13)"
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching address record were found",
                      "href": "https://nervosnetwork.github.io/ckb-explorer/public/api_doc.html"
                    }
                  ]
                }

/suggestqueries:
  get:
    description: Return results based on input
    queryParameters:
      q:
        type: string
        description: User input
        required: true
    responses:
      200:
        body:
          application/vnd.api+json:
            type: block_response | transaction_response | address_response | udt_response
            examples:
              block: |
                {
                  "data":{
                    "id": "1",
                    "type": "block",
                    "attributes": {
                      "block_hash": "0x97f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacd",
                      "number": 8897,
                      "transactions_count": 98,
                      "proposals_count": 150,
                      "uncles_count": 2,
                      "uncle_block_hashes": ["0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi", "0xm87982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadenj7"],
                      "reward": 40,
                      "total_transaction_fee": 10,
                      "cell_consumed": 100,
                      "miner_hash": "0x9873h2dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683ead2dw1",
                      "timestamp": 1553068833785,
                      "difficulty": "0x100",
                      "version": 0,
                      "nonce": 503529102265201399,
                      "proof": "0x,
                      "reward_status": "pending",
                      "received_tx_fee_status": "pending",
                      "received_tx_fee": 300000,
                      "block_index_in_epoch": "101"
                    }
                  }
                }

              transaction: |
                {
                  "data": {
                    "id": "1",
                    "type": "transaction",
                    "attributes": {
                      "transaction_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                      "block_number": "770",
                      "block_timestamp": 1553068833785,
                      "transaction_fee": 666,
                      "version": 0,
                      "is_cellbase": true,
                      "income": "0.0",
                      "witnesses": [
                          "0x5500000010000000550000005500000041000000765eab3a413093258b1f37566616844b86d8f69e21926fefdca8cae424fd56f93b340f192725e37b251cf110bb3f138008c0376e216e9f369aa0b2c61d4ae33901",
                          "0x55000000100000005500000055000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                      ],
                      "cell_deps": [
                          {
                              "dep_type": "dep_group",
                              "out_point": {
                                  "index": 0,
                                  "tx_hash": "0xcb77d6dd01abde6dde8cd3fffaa9811399309ae47e18162096b7ae45e5e69f14"
                              }
                          },
                          {
                              "dep_type": "code",
                              "out_point": {
                                  "index": 2,
                                  "tx_hash": "0xb5724acb4f5f82afb717c3ec3fe025d3b6e45ff48f4ffbb6162c950399cbcabe"
                              }
                          }
                      ],
                      "header_deps": [
                        "0x32a1c7ea0f6c2091a1512eaf4dda12683d28bce1573011a211213163c588cf27"
                      ],
                      "display_inputs": [
                        {
                          "from_cellbase": true,
                          "input_id": 101,
                          "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                          "capacity": 100,
                          "target_block_number": 100,
                          "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "cell_type": "normal",
                          "cell_index": "0"
                        },
                        {
                          "from_cellbase": false,
                          "input_id": 102,
                          "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "capacity": 100,
                          "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321",
                          "cell_type": "normal",
                          "cell_index": "0"
                        }
                      ],
                      "display_outputs": [
                        {
                          "output_id": 103,
                          "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                          "capacity": 100,
                          "target_block_number": 100,
                          "base_reward": 125000000000,
                          "commit_reward": 0,
                          "proposal_reward": 0,
                          "secondary_reward": 476623447,
                          "consumed_by_tx_hash": null,
                          "status": "live",
                          "cell_type": "normal"
                        },
                        {
                          "output_id": 104,
                          "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "capacity": 100,
                          "consumed_by_tx_hash": null,
                          "status": "live",
                          "cell_type": "normal"
                        }
                      ]
                    }
                  }
                }

              address: |
                {
                  "data": {
                    "id": "1",
                    "type": "address",
                    "attributes": {
                      "address_hash": "0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi",
                      "balance": 1000,
                      "transactions_count": 100,
                      "cell_consumed": 10,
                      "lock_script": {
                        "args": [],
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001"
                      },
                      "dao_deposit": "10000",
                      "interest": "100",
                      "average_deposit_time": "35.780193591686053852850446361429702611876162589037114569656468227898621305950821369",
                      "udt_accounts": [
                        {
                          "symbol": "kfc",
                          "decimal": "6",
                          "amount": "100000000000000000",
                          "type_hash": "0xedb17f324da6e289dd33f949fd2664417864d79b33ddf739a5214fc3494fd67e",
[...]
