#%RAML 1.0
title: CKB-Explorer
version: v1
baseUri: https://explorer.nervos.org
mediaType:  application/vnd.api+json

types:
  error: {
    type: object,
    properties: {
      "id": {
        type: "string",
        description: "A unique identifier for the specific instance of the error"
      },
      "code": {
        type: "string",
        description: " an application-specific error code"
      },
      "status": {
        type: "string",
        description: "the HTTP status code applicable to this problem"
      },
      "title": {
        type: "string",
        description: "a short, human-readable summary of the problem"
      },
      "detail": {
        type: "string",
        description: "A more in-depth, human-readable description of the error and how to resolve it"
      },
      "href": {
        type: "string",
        description: "A URL that the developer can use to learn more about the issue"
      }
    }

  }

  transaction_attributes: {
    type: object,
    properties: {
      "block_number": {
        type: "integer"
      },
      "transaction_hash": {
        type: "string"
      },
      "block_timestamp": {
        type: "integer"
      }
      "transaction_fee": {
        type: "integer"
      },
      "is_cellbase": {
        type: "boolean"
      },
      "income": {
        type: "string"
      },
      "version": {
        type: "integer"
      },
      "display_inputs": {
        type: "display_input[]"
      },
      "display_outputs": {
        type: "display_output[]"
      }
    }
  }

  transaction: {
    type: object,
    properties: {
      "id": {
        type: "string"
      },
      "type": {
        type: "string"
      },
      "attributes": {
        type: "transaction_attributes",
      }
    }
  }

  address_attributes: {
    type: object,
    properties: {
      "address_hash": {
        "type": "string"
      },
      "balance": {
        "type": integer
      },
      "transactions_count": {
        "type": integer
      },
      "cell_consumed": {
        "type": integer
      },
      "lock_hash": {
        "type": script
      },
      "pending_reward_blocks_count": {
        "type": integer
      }
    }
  }

  address: {
    type: object,
    properties: {
      "id": {
        type: "string"
      },
      "type": {
        type: "string"
      },
      "attributes": {
        type: "address_attributes"
      }
    }
  }

  script_attributes: {
    type: object,
    properties: {
      "code_hash": {
        "type": "string"
      },
      "args": {
        "type": "string[]"
      }
    }
  }

  script: {
    type: object,
    properties: {
      "id": {
        type: "string"
      },
      "type": {
        type: "string"
        "enum": ["lock_script", "type_script"]
      },
      "attributes": {
        type: "script_attributes"
      }
    }
  }

  display_input: {
    type: object,
    require: true,
    properties: {
      "from_cellbase": {
        type: "boolean"
      },
      "id": {
        type: "integer"
      },
      "address_hash": {
        type: "string"
      },
      "capacity": {
        type: integer
      },
      "target_block_number": {
        type: integer,
        required: false
      },
      "generated_tx_hash": {
         type: "string",
      }
    }
  }


  display_output: {
    type: object,
    require: true,
    properties: {
      "id": {
        type: "integer"
      },
      "address_hash": {
        type: "string"
      },
      "capacity": {
        type: integer
      },
      "target_block_number": {
        type: integer,
        required: false
      },
      "base_reward": {
        type: integer,
        required: false
      },
      "commit_reward": {
        type: integer,
        required: false
      },
      "proposal_reward": {
        type: integer,
        required: false
      },
      "secondary_reward": {
        type: integer,
        required: false
      },
      "consumed_by_tx_hash": {
         type: "string",
         required: false
      },
      "status": {
        type: "string",
        enum: ["live", "dead"]
      }
    }
  }

  block_attributes: {
    type: object,
    properties: {
      "block_hash": {
          "type": "string",
          "required": true,
          "minLength": 66,
          "maxLength": 66,
      },
      "number": {
        "type": "integer"
      },
      "transactions_count": {
        "type": "integer"
      },
      "proposals_count": {
        "type": "integer"
      },
      "uncles_count": {
        "type": "integer"
      },
      "uncle_block_hashes": {
        "type": "string[]"
      },
      "reward": {
        "type": "integer"
      },
      "total_transaction_fee": {
        "type": "integer"
      },
      "cell_consumed": {
        "type": "integer"
      },
      "total_cell_capacity": {
        "type": "integer"
      },
      "miner_hash": {
        "type": "string",
        "required": true,
        "minLength": 66,
        "maxLength": 66,
      },
      "timestamp": {
        "type": "integer"
      },
      "difficulty": {
        "type": "string"
      },
      "version": {
        "type": "integer"
      },
      "nonce": {
        "type": "integer"
      },
      "proof": {
        "type": "string"
      },
      "reward_status": {
        "type": "string",
        "enum": ["pending", "issued"]
      },
      "received_tx_fee_status": {
        "type": "string",
        "enum": ["calculating", "calculated"]
      },
      "received_tx_fee": {
        "type": "integer"
      }
    }
  }

  block: {
    type: object,
    properties: {
      "id": {
        type: "string"
      },
      "type": {
        type: "string"
      },
      "attributes": {
        "type": "block_attributes"
      }
    }
  }

  index_statistic_attributes: {
    type: object,
    properties: {
      "tip_block_number": {
        type: "string",
      },
      "average_block_time": {
        type: "string",
      },
      "average_difficulty": {
        type: "integer",
      },
      "hash_rate": {
        type: "string",
      }
    }
  }

  statistic_info_attributes: {
    type: object,
    properties: {
      "tip_block_number": {
        type: "string",
      },
      "average_block_time": {
        type: "string",
      },
      "average_difficulty": {
        type: "integer",
      },
      "hash_rate": {
        type: "string",
      },
      "blockchain_info": {
        type: "object"
      }
    }
  }

  net_info_address: {
    type: object,
    properties: {
      "address": {
        type: "string"
      },
      "score": {
        type: "string"
      }
    }
  }

  net_info_attributes: {
    type: object,
    properties: {
      "addresses": {
        type: "net_info_address[]",
      },
      "is_outbound": {
        type: "string",
      },
      "node_id": {
        type: "integer",
      },
      "version": {
        type: "string",
      }
    }
  }

  index_statistic_info: {
    type: object,
    properties: {
      "id": {
        type: "string"
      },
      "type": {
        type: "string"
      },
      "attributes": {
        "type": "index_statistic_attributes"
      }
    }
  }

  pagination_meta: {
    type: object,
    properties: {
      "total": {
        type: "integer"
      }
    }
  }

  pagination_link: {
    type: object,
    properties: {
      "self": {
        type: "string"
      },
      "first": {
        type: "string"
      },
      "prev": {
        type: "string"
      },
      "next": {
        type: "string"
      },
      "last": {
        type: "string"
      },
    }
  }

  error_response: {
    type: object,
    properties: {
      "message": {
        "type: "string"
      },
      "errors": {
        "type": "error[]"
      }
    }
  }

  block_response: {
    type: object,
    properties: {
      "data": {
        "type": "block"
      }
    }
  }

  blocks_response: {
    type: object,
    properties: {
      "meta": {
        "type": "pagination_meta"
      },
      "data": {
        "type": "block[]",
      },
      "links": {
        "type": "pagination_link"
      }
    }
  }

  transaction_response: {
    type: object,
    properties: {
      "data": {
        "type": transaction,
      }
    }
  }

  block_transactions_response: {
    type: object,
    properties: {
      "meta": {
        "type": "pagination_meta"
      },
      "data": {
        "type": "transaction[]"
      },
      "links": {
        "type": "pagination_link"
      }
    }
  }

  address_transactions_response: {
    type: object,
    properties: {
      "meta": {
        "type": "pagination_meta"
      },
      "data": {
        "type": "transaction[]"
      },
      "links": {
        "type": "pagination_link"
      }
    }
  }

  cell_script_response: {
    type: object,
    properties: {
      "data": {
        "type": "script"
      }
    }
  }

  cell_data_response: {
    type: object,
    properties: {
      "data": {
        "type": string
      }
    }
  }

  address_response: {
    type: object,
    properties: {
      "data": {
        "type": address
      }
    }
  }

  index_statistic_response: {
    type: object,
    properties: {
      "data": {
        "type": index_statistic_attributes
      }
    }
  }

  statistic_info_response: {
    type: object,
    properties: {
      "data": {
        "type": statistic_info_attributes
      }
    }
  }

  net_info_response: {
    type: object,
    properties: {
      "data": {
        "type": net_info_attributes
      }
    }
  }

/blocks:
  get:
    description: Returns blocks in reverse chronological order.
    queryParameters:
      page_size:
        type: integer
        default: 10
      page:
        type: integer
        default: 1
    responses:
      200:
        body:
          application/vnd.api+json:
            type: blocks_response
            example: |
              {
                "meta": {
                  "total": 100
                },
                "data": [
                  {
                    "id": 10,
                    "type": "block",
                    "attributes": {
                      "block_hash": "0x97f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacd",
                      "number": 8897,
                      "transactions_count": 98,
                      "proposals_count": 150,
                      "uncles_count": 2,
                      "uncle_block_hashes": ["0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi", "0xm87982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadenj7"],
                      "reward": 40,
                      "total_transaction_fee": 10,
                      "cell_consumed": 100,
                      "total_cell_capacity": 1000,
                      "miner_hash": "0x9873h2dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683ead2dw1",
                      "timestamp": 1553068833785,
                      "difficulty": "0x100",
                      "version": 0,
                      "nonce": 503529102265201399,
                      "proof": "0x"
                    }
                  },
                  {
                    "id": 11,
                    "type": "block",
                    "attributes": {
                      "block_hash": "0xfj3w82dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacd",
                      "number": 8898,
                      "transactions_count": 60,
                      "proposals_count": 150,
                      "uncles_count": 2,
                      "uncle_block_hashes": ["0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi", "0xm87982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadenj7"],
                      "reward": 40,
                      "total_transaction_fee": 10,
                      "cell_consumed": 102,
                      "total_cell_capacity": 1000,
                      "miner_hash": "0x9382h2dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683ead2dw1",
                      "timestamp": 1553068833789,
                      "difficulty": "0x100",
                      "version": 0,
                      "nonce": 503529102265201399,
                      "proof": "0x
                    }
                  }
                ],
                "links": {
                  "self": "https://explorer.nervos.org/blocks?page=3&page_size=10",
                  "first": "https://explorer.nervos.org/blocks?page=1&page_size=10",
                  "prev": "https://explorer.nervos.org/blocks?page=2&page_size=10",
                  "next": "https://explorer.nervos.org/blocks?page=4&page_size=10",
                  "last": "https://explorer.nervos.org/blocks?page=13&page_size=10"
                }
              }
      404:
        body:
          application/vnd.api+json:
            type: error_response
            example: |
              {
                "message": "Record Not Found",
                "errors": [
                  {
                    "id": "ActiveRecord::RecordNotFound",
                    "code": "1141",
                    "status": "404",
                    "title": "Record not fund",
                    "detail": "No blocks at this time",
                    "href": "http://shaojunda.coding.me/doc/api_doc.html#blocks_get"
                  }
                ]
              }

  /{block_hash}:
    uriParameters:
      block_hash:
        description: The block hash
        required: true
        type: string
        minLength: 66
        maxLength: 66,
    get:
      description: Returns a block by block hash
      responses:
        200:
          body:
            application/vnd.api+json:
              type: block_response
              example: |
                {
                  "data":{
                    "id": 11,
                    "type": "block",
                    "attributes": {
                      "block_hash": "0x97f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacd",
                      "number": 8897,
                      "transactions_count": 98,
                      "proposals_count": 150,
                      "uncles_count": 2,
                      "uncle_block_hashes": ["0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi", "0xm87982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadenj7"],
                      "reward": 40,
                      "total_transaction_fee": 10,
                      "cell_consumed": 100,
                      "total_cell_capacity": 1000,
                      "miner_hash": "0x9873h2dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683ead2dw1",
                      "timestamp": 1553068833785,
                      "difficulty": "0x100",
                      "version": 0,
                      "nonce": 503529102265201399,
                      "proof": "0x,
                      "reward_status": "pending",
                      "received_tx_fee_status": "calculating",
                      "received_tx_fee": 300000
                    }
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching block record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#blocks_get"
                    }
                  ]
                }
  /{height}:
    uriParameters:
      height:
        description: The block height
        required: true
        type: integer
        minimum: 0
    get:
      description: Returns a block by block height
      responses:
        200:
          body:
            application/vnd.api+json:
              type: block_response
              example: |
                {
                  "data":{
                    "id": 11,
                    "type": "block",
                    "attributes": {
                      "block_hash": "0x97f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacd",
                      "number": 8897,
                      "transactions_count": 98,
                      "proposals_count": 150,
                      "uncles_count": 2,
                      "uncle_block_hashes": ["0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi", "0xm87982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadenj7"],
                      "reward": 40,
                      "total_transaction_fee": 10,
                      "cell_consumed": 100,
                      "total_cell_capacity": 1000,
                      "miner_hash": "0x9873h2dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683ead2dw1",
                      "timestamp": 1553068833785,
                      "difficulty": "0x100",
                      "version": 0,
                      "nonce": 503529102265201399,
                      "proof": "0x,
                      "reward_status": "pending",
                      "received_tx_fee_status": "calculating",
                      "received_tx_fee": 300000
                    }
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching block record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#blocks_get"
                    }
                  ]
                }

/transactions:
  /{tx_hash}:
    uriParameters:
      tx_hash:
        description: The transaction hash
        required: true
        type: string
        minLength: 66
        maxLength: 66
    get:
      description: Returns a transaction by transaction hash
      responses:
        200:
          body:
            application/vnd.api+json:
              type: transaction_response
              example: |
                {
                  "data": {
                    "id": 11,
                    "type": "transaction",
                    "attributes": {
                      "transaction_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                      "block_number": "770",
                      "block_timestamp": 1553068833785,
                      "transaction_fee": 666,
                      "version": 0,
                      "is_cellbase": true,
                      "income": "0.0",
                      "display_inputs": [
                        {
                          "from_cellbase": true,
                          "input_id": 101,
                          "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                          "capacity": 100,
                          "target_block_number": 759，
                          "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323"
                        },
                        {
                          "from_cellbase": false,
                          "input_id": 102,
                          "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "capacity": 100,
                          "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321"
                        }
                      ],
                      "display_outputs": [
                        {
                          "output_id": 103,
                          "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                          "capacity": 100,
                         "base_reward": 125000000000,
                         "commit_reward": 0,
                         "proposal_reward": 0,
                         "secondary_reward": 476623447,
                         "consumed_by_tx_hash": null,
                         "status": "live"
                        },
                        {
                          "output_id": 104,
                          "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "capacity": 100,
                          "consumed_by_tx_hash": null,
                          "status": "live"
                        }
                      ]
                    }
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching transaction record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#transactions__tx_hash__get"
                    }
                  ]
                }

/address_transactions:
  /{address_hash}:
    uriParameters:
      address_hash:
        description: The address hash
        required: true
        type: string
        minLength: 66
        maxLength: 66
    get:
      description: Returns transactions related to an address
      queryParameters:
        page_size:
          type: integer
          default: 10
        page:
          type: integer
          default: 1
      responses:
        200:
          body:
            application/vnd.api+json:
              type: address_transactions_response
              example: |
                {
                  "meta": {
                    "total": 100
                  },
                  "data": [
                    {
                      "id": 11,
                      "type": "transaction",
                      "attributes": {
                        "transaction_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                        "block_number": "770",
                        "block_timestamp": 1553068833785,
                        "transaction_fee": 666,
                        "version": 0,
                        "is_cellbase": true,
                        "income": "0.0",
                        "display_inputs": [
                          {
                            "from_cellbase": true,
                            "input_id": 101,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "target_block_number": 759,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          },
                          {
                            "from_cellbase": false,
                            "input_id": 102,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321",
                          }
                        ],
                        "display_outputs": [
                          {
                            "output_id": 103,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "base_reward": 125000000000,
                            "commit_reward": 0,
                            "proposal_reward": 0,
                            "secondary_reward": 476623447,
                            "consumed_by_tx_hash": null,
                            "status": "live"
                          },
                          {
                            "output_id": 104,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "consumed_by_tx_hash": null,
                            "status": "live"
                          }
                        ]
                      }
                    },
                    {
                      "id": 11,
                      "type": "transaction",
                      "attributes": {
                        "transaction_hash": "0xmk8721e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                        "block_number": "770",
                        "block_timestamp": 1553068833785,
                        "transaction_fee": 666,
                        "version": 0,
                        "is_cellbase": true,
                        "income": "0.0",
                        "display_inputs": [
                          {
                            "from_cellbase": true,
                            "input_id": 101,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "target_block_number": 759,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323"
                          },
                          {
                            "from_cellbase": false,
                            "input_id": 102,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321"
                          }
                        ],
                        "display_outputs": [
                          {
                            "output_id": 103,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "base_reward": 125000000000,
                            "commit_reward": 0,
                            "proposal_reward": 0,
                            "secondary_reward": 476623447,
                            "consumed_by_tx_hash": null,
                            "status": "live"
                          },
                          {
                            "output_id": 104,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "consumed_by_tx_hash": null,
                            "status": "live"
                          }
                        ]
                      }
                    }
                  ],
                  "links": {
                    "self": "https://explorer.nervos.org/address_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=3&page_size=10",
                    "first": "https://explorer.nervos.org/address_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=1&page_size=10",
                    "prev": "https://explorer.nervos.org/address_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=2&page_size=10",
                    "next": "https://explorer.nervos.org/address_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=4&page_size=10",
                    "last": "https://explorer.nervos.org/address_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=13&page_size=10"
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching transactions record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#address_transactions__address_hash__get"
                    }
                  ]
                }

/block_transactions:
  /{block_hash}:
    uriParameters:
      block_hash:
        description: The block hash
        required: true
        type: string
        minLength: 66
        maxLength: 66
    get:
      description: Returns transactions in the block
      queryParameters:
        page_size:
          type: integer
          default: 10
        page:
          type: integer
          default: 1
      responses:
        200:
          body:
            application/vnd.api+json:
              type: block_transactions_response
              example: |
                {
                  "meta": {
                    "total": 100,
                  },
                  "data": [
                    {
                      "id": 11,
                      "type": "transaction",
                      "attributes": {
                        "transaction_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                        "block_number": "770",
                        "block_timestamp": 1553068833785,
                        "transaction_fee": 666,
                        "version": 0,
                        "display_inputs": [
                          {
                            "from_cellbase": true,
                            "input_id": 101,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "target_block_number": 759,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          },
                          {
                            "from_cellbase": false,
                            "input_id": 102,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321",
                          }
                        ],
                        "display_outputs": [
                          {
                            "output_id": 103,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "base_reward": 125000000000,
                            "commit_reward": 0,
                            "proposal_reward": 0,
                            "secondary_reward": 476623447,
                            "consumed_by_tx_hash": null,
                            "status": "live"
                          },
                          {
                            "output_id": 104,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "consumed_by_tx_hash": null,
                            "status": "live"
                          }
                        ]
                      }
                    },
                    {
                      "id": 11,
                      "type": "transaction",
                      "attributes": {
                        "transaction_hash": "0xmk8721e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                        "block_number": "770",
                        "block_timestamp": 1553068833785,
                        "transaction_fee": 666,
                        "version": 0,
                        "display_inputs": [
                          {
                            "from_cellbase": true,
                            "input_id": 101,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "target_block_number": 759,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          },
                          {
                            "from_cellbase": true,
                            "input_id": 102,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321",
                          }
                        ],
                        "display_outputs": [
                          {
                            "output_id": 103,
                            "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "capacity": 100,
                            "base_reward": 125000000000,
                            "commit_reward": 0,
                            "proposal_reward": 0,
                            "secondary_reward": 476623447,
                            "consumed_by_tx_hash": "0x2bbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "status": "dead"
                          },
                          {
                            "output_id": 104,
                            "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                            "capacity": 100,
                            "consumed_by_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                            "status": "dead"
                          }
                        ]
                      }
                    }
                  ],
                  "links": {
                    "self": "https://explorer.nervos.org/block_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=3&page_size=10",
                    "first": "https://explorer.nervos.org/block_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=1&page_size=10",
                    "prev": "https://explorer.nervos.org/block_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=2&page_size=10",
                    "next": "https://explorer.nervos.org/block_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=4&page_size=10",
                    "last": "https://explorer.nervos.org/block_transactions/0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323?page=13&page_size=10"
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching transactions record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#block_transactions__block_hash__get"
                    }
                  ]
                }


/cell_input_lock_scripts:
  /{cell_input_id}:
    get:
      description: Returns cell lock script by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_script_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "lock_script",
                      "attributes": {
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001",
                        "args": [
                          "0x99f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacf"
                        ]
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#cells_get"
                    }
                  ]
                }

/cell_input_type_scripts:
  /{cell_input_id}:
    get:
      description: Returns cell type script by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_script_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "type_script",
                      "attributes": {
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001",
                        "args": [
                          "0x99f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacf"
                        ]
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#cells_get"
                    }
                  ]
                }

/cell_input_data:
  /{cell_input_id}:
    get:
      description: Returns cell data by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_data_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "data",
                      "attributes": {
                        "data": "0x0"
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#cells_get"
                    }
                  ]
                }

/cell_output_lock_scripts:
  /{cell_output_id}:
    get:
      description: Returns cell lock script by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_script_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "lock_script",
                      "attributes": {
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001",
                        "args": [
                          "0x99f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacf"
                        ]
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#cells_get"
                    }
                  ]
                }

/cell_output_type_scripts:
  /{cell_output_id}:
    get:
      description: Returns cell type script by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_script_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "type_script",
                      "attributes": {
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001",
                        "args": [
                          "0x99f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacf"
                        ]
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#cells_get"
                    }
                  ]
                }

/cell_output_data:
  /{cell_output_id}:
    get:
      description: Returns cell data by parameters
      responses:
        200:
          body:
            application/vnd.api+json:
              type: cell_data_response
              examples:
                script_data: |
                  {
                    "data": {
                      "id": "1",
                      "type": "data",
                      "attributes": {
                        "data": "0x0"
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching cell record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#cells_get"
                    }
                  ]
                }

/addresses:
  /{address_hash}:
    uriParameters:
      address_hash:
        description: The address hash
        required: true
        type: string
        minLength: 66
        maxLength: 66,
    get:
      description: Returns address info
      responses:
        200:
          body:
            application/vnd.api+json:
              type: address_response
              example: |
                {
                  "data": {
                    "id": "1",
                    "type": "address",
                    "attributes": {
                      "address_hash": "0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi",
                      "balance": 1000,
                      "transactions_count": 100,
                      "cell_consumed": 10,
                      "lock_script": {
                        "args": [],
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001"
                      },
                      "pending_reward_blocks_count": 3
                    }
                  }
                }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching address record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#address_transactions__address_hash__get"
                    }
                  ]
                }

/statistics:
  get:
    description: Return statistic info
    responses:
      200:
        body:
          application/vnd.api+json:
            type: index_statistic_response
            example: |
              {
                "data": {
                "id": "1559555643",
                "type": "index_statistic",
                "attributes": {
                    "tip_block_number": "29795",
                    "average_block_time": 20000,
                    "average_difficulty": 10024,
                    "hash_rate": "1.562224830086230946"
                }
              }
      404:
        body:
          application/vnd.api+json:
            type: error_response
            example: |
              {
                "message": "Record Not Found",
                "errors": [
                  {
                    "id": "ActiveRecord::RecordNotFound",
                    "code": "1141",
                    "status": "404",
                    "title": "Record not fund",
                    "detail": "No matching cell record were found",
                    "href": "http://shaojunda.coding.me/doc/api_doc.html#statistics_get"
                  }
                ]
              }
/statistics:
  /{info_name}:
    uriParameters:
      info_name:
        description: The statistic info name
        required: true
        type: string
    get:
      description: Returns the specific statistic info
      responses:
        200:
          body:
            application/vnd.api+json:
              type: statistic_info_response
              examples:
                tip_block_number: |
                  {
                    "data": {
                      "id": "1",
                      "type": "statistic_info",
                      "attributes": {
                        "tip_block_number": 100
                      }
                    }
                  }
                current_epoch_average_block_time: |
                  {
                    "data": {
                      "id": "1",
                      "type": "statistic_info",
                      "attributes": {
                        "current_epoch_average_block_time": 1000
                      }
                    }
                  }
                current_epoch_difficulty: |
                  {
                    "data": {
                      "id": "1",
                      "type": "statistic_info",
                      "attributes": {
                        "current_epoch_difficulty": 100000
                      }
                    }
                  }
                hash_rate: |
                  {
                    "data": {
                      "id": "1",
                      "type": "statistic_info",
                      "attributes": {
                        "hash_rate": 1000000
                      }
                    }
                  }
                blockchain_info: |
                  {
                    "data": {
                        "id": "1562726179",
                        "type": "statistic",
                        "attributes": {
                            "blockchain_info": {
                                "is_initial_block_download": false,
                                "epoch": "15",
                                "difficulty": "0x24a480",
                                "median_time": "1562713694364",
                                "chain": "ckb_testnet",
                                "alerts": [
                                  {
                                    "id": "42",
                                    "message": "An example alert message!",
                                    "notice_until": "2524579200000",
                                    "priority": "1"
                                  },
                                  {
                                    "id": "42",
                                    "message": "An example alert message!",
                                    "notice_until": "2524579200000",
                                    "priority": "1"
                                  }
                                ]
                             }
                         }
                     }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching address record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#statistics__info_name__get"
                    }
                  ]
                }

/nets:
  /{info_name}:
    uriParameters:
      info_name:
        description: The statistic info name
        required: true
        type: string
    get:
      description: Returns the net info
      responses:
        200:
          body:
            application/vnd.api+json:
              type: net_info_response
              examples:
                local_node_info: |
                  {
                    "data": {
                      "id": "1",
                      "type": "net_info",
                      "attributes": {
                        "local_node_info": {
                          "addresses": [
                            {
                              "address": "/ip4/192.168.0.2/tcp/8112/p2p/QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS",
                              "score": "255"
                            },
                            {
                              "address": "/ip4/0.0.0.0/tcp/8112/p2p/QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS",
                              "score": "1"
                            }
                          ],
                          "is_outbound": null,
                          "node_id": "QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS",
                          "version": "0.16.0 (rylai-v5 2178d78 2019-07-13)"
                        }
                      }
                    }
                  }
                addresses: |
                  {
                    "data": {
                      "id": "1",
                      "type": "net_info",
                      "attributes":
                        "addresses": [
                          {
                            "address": "/ip4/192.168.0.2/tcp/8112/p2p/QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS",
                            "score": "255"
                          },
                          {
                            "address": "/ip4/0.0.0.0/tcp/8112/p2p/QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS",
                            "score": "1"
                          }
                        ]
                    }
                  }
                is_outbound: |
                  {
                    "data": {
                      "id": "1",
                      "type": "net_info",
                      "attributes": {
                        "is_outbound": null
                      }
                    }
                  }
                node_id: |
                  {
                    "data": {
                      "id": "1",
                      "type": "net_info",
                      "attributes": {
                        "node_id": "QmTRHCdrRtgUzYLNCin69zEvPvLYdxUZLLfLYyHVY3DZAS"
                      }
                    }
                  }
                version: |
                  {
                    "data": {
                      "id": "1",
                      "type": "net_info",
                      "attributes": {
                        "version": "0.16.0 (rylai-v5 2178d78 2019-07-13)"
                      }
                    }
                  }
        404:
          body:
            application/vnd.api+json:
              type: error_response
              example: |
                {
                  "message": "Record Not Found",
                  "errors": [
                    {
                      "id": "ActiveRecord::RecordNotFound",
                      "code": "1141",
                      "status": "404",
                      "title": "Record not fund",
                      "detail": "No matching address record were found",
                      "href": "http://shaojunda.coding.me/doc/api_doc.html#statistics__info_name__get"
                    }
                  ]
                }

/suggestqueries:
  get:
    description: Return results based on input
    queryParameters:
      q:
        type: string
        description: User input
        required: true
    responses:
      200:
        body:
          application/vnd.api+json:
            type: block_response | transaction_response | address_response
            examples:
              block: |
                {
                  "data":{
                    "id": "1",
                    "type": "block",
                    "attributes": {
                      "block_hash": "0x97f982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadeacd",
                      "number": 8897,
                      "transactions_count": 98,
                      "proposals_count": 150,
                      "uncles_count": 2,
                      "uncle_block_hashes": ["0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi", "0xm87982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadenj7"],
                      "reward": 40,
                      "total_transaction_fee": 10,
                      "cell_consumed": 100,
                      "miner_hash": "0x9873h2dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683ead2dw1",
                      "timestamp": 1553068833785,
                      "difficulty": "0x100",
                      "version": 0,
                      "nonce": 503529102265201399,
                      "proof": "0x,
                      "reward_status": "pending",
                      "received_tx_fee_status": "calculating",
                      "received_tx_fee": 300000
                    }
                  }
                }

              transaction: |
                {
                  "data": {
                    "id": "1",
                    "type": "transaction",
                    "attributes": {
                      "transaction_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                      "block_number": "770",
                      "block_timestamp": 1553068833785,
                      "transaction_fee": 666,
                      "version": 0,
                      "is_cellbase": true,
                      "income": "0.0",
                      "display_inputs": [
                        {
                          "from_cellbase": true,
                          "input_id": 101,
                          "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                          "capacity": 100,
                          "target_block_number": 100,
                          "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323"
                        },
                        {
                          "from_cellbase": false,
                          "input_id": 102,
                          "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "capacity": 100,
                          "generated_tx_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae321"
                        }
                      ],
                      "display_outputs": [
                        {
                          "output_id": 103,
                          "address_hash": "0x3abd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae324",
                          "capacity": 100,
                          "target_block_number": 100,
                          "base_reward": 125000000000,
                          "commit_reward": 0,
                          "proposal_reward": 0,
                          "secondary_reward": 476623447,
                          "consumed_by_tx_hash": null,
                          "status": "live"
                        },
                        {
                          "output_id": 104,
                          "address_hash": "0xddbd21e6e51674bb961bb4c5f3cee9faa5da30e64be10628dc1cef292cbae323",
                          "capacity": 100,
                          "consumed_by_tx_hash": null,
                          "status": "live"
                        }
                      ]
                    }
                  }
                }

              address: |
                {
                  "data": {
                    "id": "1",
                    "type": "address",
                    "attributes": {
                      "address_hash": "0xnj7982dd3149da69e05e8867ccebd84eebdddaf947cc2618a1dca7683eadekoi",
                      "balance": 1000,
                      "transactions_count": 100,
                      "cell_consumed": 10,
                      "lock_script": {
                        "args": [],
                        "code_hash": "0x0000000000000000000000000000000000000000000000000000000000000001"
                      }
                    }
                  }
                }
      404:
        body:
          application/vnd.api+json:
            type: error_response
            example: |
              {
                "message": "Record Not Found",
                "errors": [
                  {
                    "id": "ActiveRecord::RecordNotFound",
                    "code": "1141",
                    "status": "404",
                    "title": "Record not fund",
                    "detail": "No matching record were found",
                    "href": "http://shaojunda.coding.me/doc/api_doc.html#suggestqueries_get"
                  }
                ]
              }
