name: Pull, build docker image and push to repository
on:
  workflow_call:
    secrets:
      GHCR_USERNAME:
        required: true
      GHCR_TOKEN:
        required: true
    outputs:
      # Image name
      image-name:
        description: URL for docker image
        value: ${{ jobs.build.outputs.image-name }}
      # Image tag (version)
      image-tag:
        description: image tag(version)
        value: ${{ jobs.build.outputs.image-tag }}
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image-name: "${{ steps.docker_build.outputs.imageFullName }}"
      image-tag: "${{ steps.docker_build.outputs.tags }}"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
#      - uses: satackey/action-docker-layer-caching@v0.0.11
#        # Ignore the failure of a step and avoid terminating the job.
#        continue-on-error: true
      - name: Build and push
        id: docker_build
        uses: mr-smithers-excellent/docker-build-push@v5
        with:
          image: ckb-explorer-api
          registry: ghcr.io
          githubOrg: magickbase # optional
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}
      - name: DeleteUselessImages
        run: docker images && docker images| grep "ckb-explorer-api" | grep -v "IMAGE ID" | awk 'NR>1 {print $3}' | xargs -I {}  docker rmi {}
      - name: CheckImage
        run: docker images && df -hT && df -ih