name: Request to deploy testnet

on:
  push:
    branches: [develop]

jobs:
  request-to-deploy-testnet:
    name: Request to deploy testnet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Request PR
        uses: repo-sync/pull-request@v2
        with:
          source_branch: 'develop'
          destination_branch: 'testnet'
          pr_title: 'Deploy to testnet'
          pr_reviewer: 'ShiningRay,rabbitz,zmcNotafraid,keith-cy'
          pr_label: 'auto-pr'
          github_token: ${{ secrets.GITHUB_TOKEN }}
